:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --success-green-background: #d4edda;
    --success-green-border: #c3e6cb;
    --success-green-color: #155724;

    --danger-red-background: #f8d7da;
    --danger-red-border: #f5c6cb;
    --danger-red-color: #721c24;
}

* {
    font-family: 'Lato', sans-serif;
}

html {
    height: 100vh;
    background-color: #ededed;
}

body {
    margin: 0;
    padding: 12px 15px;
    min-height: 100%;
    width: 1200px;
    margin: auto;
}

section {
    width: 100%;
}

section.game-list {
    display: inline-flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

section.single-article {
    text-align: center;
}

article.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px #d3d3d3;
    transition: all 250ms ease-in;
    width: 500px;
    margin:auto;
}


article.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

article.card>* {
    margin-bottom: 15px;
}

article .card-description,
article .card-details {
    font-size: 1em;
}

article.card.small {
    width: 32.5%;
    margin: 0.4%;
}

article.card.small img {
    height: 400px;
}

article.card.small:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 2px 2px 9px 2px #d3d3d3;
}

article>.card-details,
article>.card-description {
    letter-spacing: 1.3px;
    text-align: justify;
    padding: 0 15px;
}

article table {
    font-size: 0.9em;
    width: 100%;
    text-align: left;
}

article table tr {
    vertical-align: top;
}

article table th {
    white-space: nowrap;
}

article table td {
    padding-left: 5px;
}

.red {
    background-color: rgb(142, 15, 15);
}

.badge {
    /* outline: 1px black solid; */
    width: 80px;
    height: 80px;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 80px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 1px 0 black;
    /* -webkit-text-fill-color: white; */
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 0.7px rgb(103, 99, 99);

}

.badge.red {
    background-color: rgb(220, 61, 61);
}

.badge.yellow {
    background-color: rgb(240, 240, 40);
}

.badge.green {
    background-color: rgb(38, 184, 38);
}

.badge.purple {
    background-color: rgb(217, 61, 220);
}

.unsetCss {
    all: unset;
}

.buttons {
    display: flex;
    align-items: end;
    justify-content: center;
    flex: 1;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background: #343483;
    color: white;
    box-shadow: 0px 0px 2px 1px #030303;
    transition: all 500ms ease;
    margin-left: 5px;
    text-decoration: none;
    color: whitesmoke;
}

.button:hover {
    background-color: #6161cf;
}


.message-body {
    font-size: 1.5em;
    line-height: 1.5;
}

.message:hover {
    opacity: 1;
}

.message-wrapper {
    max-width: 310px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.message {
    opacity: 0.9;
    margin: 10px;
    clear: both;
    max-width: 300px;
    min-width: 100px;
    padding: 12px 15px;
    box-shadow: 1px 1px 4px 1px grey;
    background-color: grey;
    color: whitesmoke;
}

.message-header {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.success {
    color: var(--success-green-color);
    background-color: var(--success-green-background);
    border-color: var(--success-green-border);
}

.danger {
    color: var(--danger-red-color);
    background-color: var(--danger-red-background);
    border-color: var(--danger-red-border);
}

.input-error {
    background-color: var(--danger-red-background);
    border: 1px solid var(--danger-red-color);
}

.input-good {
    background-color: var(--success-green-background);
    border: 1px solid var(--success-green-color);
}